* {
    margin: 0;
    padding: 0;
}

body {
    /* background: aqua; */
    background: linear-gradient(to top, rgb(0, 162, 255), aqua);
    height: 110vh;
}

.btn {
    background-image: var(--bs-gradient);
}

/* hero - start */

.header-gradient {
    height: 20%;
    padding: 20px;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 20px;
    background: linear-gradient(to top, rgb(137, 158, 252, 0.7), rgb(6, 118, 223, 0.7));
    box-shadow: rgba(48, 39, 71, 0.753) 2px 2px 10px;
}

.header h1 {
    text-align: center;
    padding: 5px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.tagline-hero {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.74);
    /* margin-top: 10vh; */
    border-radius: 20px 2px 20px 2px;
    box-shadow: rgba(52, 49, 70, 0.774) 2px 2px 10px;
}

.tagline-hero h4 {
    font-style: italic;
    text-align: center;
    padding: 5px;
    font-size: 14px;
}
/* hero - end */

/* post content - start */
.body {
    display: flex;
    /* background-color: darkcyan; */
    padding: 10px;
    gap: 20px;
    padding-bottom: 50px;
}

.post-grad {
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    color: white;
    /* background: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)); */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    box-shadow: rgba(48, 39, 71, 0.753) 2px 2px 10px;
}

.post h1 {
    text-align: center;
    font-size: 24px;
}

.post p {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: -10px;
}

.header-post {
    /* background-color: lightcoral; */
    margin-bottom: 10px;
}

.content-poost {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-form-grad {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* background-color:  rgba(255, 255, 255, 0.664); */
    background: linear-gradient(to right, rgba(5, 2, 53, 0.747), rgba(22, 4, 4, 0.6));
    padding: 5%;
}

@media only screen and (max-width: 768px){
    .body {
        flex-direction: column-reverse;
    }

    .post, .login-form, .login-form-grad {
        width: 100%;
    }


}
/* post content - end */

/* footer - star */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(248, 197, 67);
  color: white;
  text-align: center;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.footer h5 {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer h6 {
    font-size: 10px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.logo_2, .logo_3 {
    height: 30px;
    margin: 0;
    width: fit-content;
    padding: 5px;
}
/* footer - end */

#foto-list {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}