APP_NAME=SiAPP
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

DB_CONNECTION=mariadb
DB_HOST=db
DB_PORT=3306
DB_DATABASE=siap
DB_USERNAME=siap
DB_PASSWORD=skanebaSMKBOS$
DB_ROOT_PASSWORD=siapprootpass

MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USERNAME=ben
MQTT_PASSWORD=1234
MQTT_PORT_HOST=1883

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=daily
LOG_LEVEL=warning
